@import 'normalize.css';

$color1: #83301E;
$color2: #ff721c;
$color3: #C51F00;

p {

}

body{
  font-family: 'Roboto';
}

input:focus {
  outline:none;
}


  .navbar-main.navbar {
    min-height: 60px;
    background: #181a20;
    border: none;
    margin: 0;
  }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-main .navbar-header .navbar-brand .header-logo {
  height: 100%;
  width: auto;
}

.navbar-brand .header-logo img {
  height: 60px;
  width: auto;
  display: block;
  margin: auto;
}






.suggestions {
  margin: auto;
  padding: 0;
  position: relative;
  width:68%;
  margin-top: -2px;
}
.suggestions li {
  background:white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin:0;
  padding:20px;
  transition:background 0.2s;
  display:flex;
  justify-content:space-between;
  text-transform: capitalize;
  cursor: pointer;
  transition: width 0.4s ease-in-out;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

span.category {
  font-size: 15px;
  position: absolute;
  right: 0;
  padding: .1em .5em .1em 15%;
  text-align: right;
  font-size: 1em;
  font-weight: 700;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes growSize {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




.category-container{
  display: flex;
  flex-wrap: wrap;
}
.item{
  background-color: #191A20;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  animation: 1s ease-out 0s 1 growSize;
  & > p{
    font-weight: 400;
    font-size: medium;
    margin: 0px;
  }

  & > span {
    font-size: small;
    font-weight: 100;
  }

}

.category-title{

 padding: 5px;
  text-transform: uppercase;
  width: 80%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  animation: 1s ease-out 0s 1 slideInFromLeft;

}

.verticals{
  background-color: $color1;
}

.categories{
  background-color: $color2;
}

.courses{
  background-color: $color3;
}





